.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  margin-bottom: 4px; 
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.form-error-message {
    color: #d32f2f;     
    font-size: 0.85rem;
    margin-top: 10px;
    text-align: center;
}

mat-dialog-actions {
    padding: 8px 24px 16px 24px;
}