<div class="home-container">
  
  <header class="home-header">
    <div class="logo-container">
      <img src="assets/images/logo_tecblanco.png" alt="Logo TecNM" class="logo">
      <div class="logo-text">
        <div>TECNOLÓGICO</div>
        <div>NACIONAL DE MÉXICO</div>
      </div>
    </div>
    <div class="header-buttons">
      <a mat-flat-button color="primary" routerLink="/auth/login">
         INICIAR SESIÓN
      </a>
    </div>
  </header>

  <main class="hero-section">
    
    <div class="hero-background"></div>

    <div class="hero-quote">
      “La misión va más allá de nuestras costas”
    </div>
    <div class="hero-campus-tag">
      TECNM CAMPUS SALINA CRUZ
    </div>

    <div class="hero-angle-border"></div>

    <div class="hero-overlay">
      <div class="overlay-content">
        <img src="assets/images/32itsal.png" alt="Logo 32 Años" class="logo-32">
      </div>
    </div>
  
  </main>
</div>