.list-container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;   
  align-items: flex-end;  
}

.import-button {
  margin-top: 10px; 
  margin-right: 0;  
}

.search-bar {
  width: 35%;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  overflow: auto;
  border-radius: 8px;
}

table {
  width: 100%;
}