.page-header-card {
  margin-bottom: 24px;
}

.page-header-card h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.page-header-card p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.table-card {
  padding: 8px;
}

.search-bar {
  width: 100%;
  margin-bottom: 16px;
}
.mat-mdc-form-field {
  width: 100%;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;   
}

table {
  width: 100%;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.spinner-container, .no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #777;
}

.spinner-container p, .no-data-message p {
  margin-top: 16px;
  font-size: 1.1rem;
}

.no-data-message mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #9e9e9e;
}