@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 
  background-color: #003366; 
}