@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 
  background-color: #003366; 

  .snack-success {
  --mdc-snackbar-container-color: #2e7d32 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

.snack-error {
  --mdc-snackbar-container-color: #d32f2f !important; 
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: #ffeb3b !important; 
}

.mat-mdc-snack-bar-container {
    &.snack-success .mdc-snackbar__surface {
        background-color: #2e7d32 !important;   
        border-radius: 8px;
    }

    &.snack-error .mdc-snackbar__surface {
        background-color: #d32f2f !important;   
        border-radius: 8px;
    }
}

.mdc-snackbar__label {
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    font-weight: 500;
}

.mat-mdc-snack-bar-action {
    color: white !important;
    font-weight: 700;
}


}